<%- include('../partials/header.ejs') %>
<%- include('../partials/main_nav.ejs') %>

<main>
    <div class="jumbotron jumbotron-fluid flex-shrink-0">
        <div class="container py-5">
            <h1 class="display-4 text-center">
            </h1>
            <div class="wrapper">

                <div class="container" id="contact-page">

                    <form class="form" method="post" id="contact">
            
                        <h1>Insert Book</h1>
            
                        <ul>
                            <li>
                                <input placeholder="Name" type="text" name="name" id="name" required>
                                <label class="visually-hidden" for="name">Name</label>
                            </li>
            
                            <li>
                                <input placeholder="Author" type="text" name="author" id="author" required>
                                <label class="visually-hidden" for="author">Author</label>
                            </li>
            
                            <li>
                                <input placeholder="Published" type="number" name="published" id="published" pattern="^[0-9]{1,4}$" required>
                                <label class="visually-hidden" for="published">Publication Year</label>
                            </li>
            
                            <li>
                                <textarea placeholder="Description" type="text" name="description" id="description" required></textarea>
                                <label class="visually-hidden" for="description">Description</label>
                            </li>
                             
                            <li>
                                <input placeholder="Price" type="number" name="price" id="price" required>
                                <label class="visually-hidden" for="price">Price</label>
                            </li>
            
                            <!-- <li> -->
                            <button class="btn btn-primary" type="submit" id="form-submit">Submit</button>
                            <!-- </li> -->
                        </ul>
            
                    </form>
            
                </div>


            </div>
        </div>
    </div>
</main>

<%- include ('../partials/bottom_nav.ejs') %>
<%- include ('../partials/footer.ejs') %>