<!-- <nav class="navbar navbar-expand-lg navbar-light d-flex flex-wrap justify-content-between align-items-center py-3 mt-4 border-top"> -->
<footer class="footer navbar d-flex flex-wrap navbar-expand-lg mt-auto bg-light border-top">
  <div class="container">

    <span class="col-md-4 mb-0">&copy; 2022 Braydan Brown. All Rights Reserved.</span>

    <ul class="nav fa-lg col-md-4 justify-content-end">
      <li class="nav-item">
        <a href="https://github.com/BraydanBrown" target="_blank" class="nav-link px-2">
        <i class="fa-brands fa-github" aria-hidden="true"></i>
        <span class="sr-only">GitHub</span></a>
      </li>

      <li class="nav-item">
        <a href="https://www.linkedin.com/in/braydan-brown-b87513227/" target="_blank" class="nav-link px-2">
        <i class="fa-brands fa-linkedin-in"></i>
        <span class="sr-only">LinkedIn</span></a>
      </li>
    </ul>
  </div>
</footer>