/* custom css */
#contact-page.container {
    max-width: 400px;
    width: 100%;
    padding: 5% 0;
    position: relative;
}

#contact h1 {
    display: block;     
    margin-top: 0px;
    margin-bottom: 15px;
    font-family: Arial, sans-serif;
    font-weight: 300;
    /* color: rgb(124, 124, 124); */
    color: black;
}

#contact {
    background-color: white;
    padding: 5%;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.6);
    border-radius: 8px;
}

#contact input,
#contact textarea {
    box-sizing: border-box;
    border: none;
    width: 100%;
    resize: none;
    background-color: white;
    font: 14px/14px Arial, sans-serif;
    padding: 10px;
}

#contact input {
    height: 35px;
}

#contact textarea {
    height: 100px;
}


#contact input:focus,
#contact textarea:focus {
    outline: none;
}

#contact button {
    display: inline-block;
    text-align: center;
    width: 100%;
    border: none;
    background-color: #00c3ff;
    color: black;
    cursor: pointer;
    font-size: 18px;
    height: 35px;
    line-height: 0px;
    padding: 10px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.6);
    border-radius: 4px;
}

#contact ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#contact li {
    min-width: 100%;
    border-style: hidden hidden solid;
    border-width: 2px;
    margin: 0 0 20px;
    padding: 0;
    border-color: rgba(192, 192, 192);
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}