<%- include('partials/header.ejs') %>
    <%- include('partials/main_nav.ejs') %>
        <!-- Main Content -->
        <main>
            <div class="jumbotron jumbotron-fluid flex-shrink-0">

                <div class="container col-xxl-8 px-4 py-5">
                    <div class="row flex-lg-row-reverse align-items-center text-center g-5 py-5">
                        
                        <div class="col-lg-6">
                            <h1 class="display-5 fw-bold 1h-1 mb-3">About Me</h1>
                            <p class="lead">
                                I'm Braydan Brown. </br>
                                I'm a student at Ontario Tech University, </br>
                                Studying Networking and I.T. Security.
                            </p>
                        </div>

                        <div class="col-10 col-sm-8 col-lg-6">
                            <img src="/images/IMG_Braydan.jpg" class="d-block mx-lg-auto img-fluid border border-secondary" alt="Photo of me" width="800" height="500">
                        </div>
                    </div>

                    <div class="row flex-lg-row align-items-center text-center g-5 py-5">

                        <div class="col-lg-6">
                            <h1 class="display-5 fw-bold 1h-1 mb-3">Experience</h1>
                            <p class="lead">
                                I have experience with several programming and markup languages.</br>
                                Including: C++, Python, Java, Javascript, HTML, and CSS.</br>
                                
                                </br>

                                My experience with these languages comes partly from my school studies and partly from my own personal projects. </br>

                                <br>

                                Please watch the video to learn more.

                            </p>
                        </div>

                        <div class="col-10 col-sm-8 col-lg-6">
                            <video controls preload="auto" src="/images/About_Braydan.mp4" type="video/mp4" class="d-block mx-lg-auto img-fluid border border-secondary" alt="About me video" width="800" height="500">
                        </div>

                    </div>

                </div>
            </div>
        </main>
        <%- include ('partials/bottom_nav.ejs') %>
            <%- include ('partials/footer.ejs') %>