<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/app.css" />
    </head>
  <body>
    <h1><%= title %></h1>
    <script src="/javascripts/app.js"></script>
  </body>
</html>
<!-- Main Content -->
